<div class="container post">
  <div class="col-sm-12 col-xs-12 post-content">
    <% @posts.each do |post| %>
		<div class="col-xs-12 post-content_wrapper" style="background-image: url(<%= post.category.background.url %>)">
      <div class="text-center post-basic_info">
				<h6 class="post-category"><%= post.category.name %></h6>
        <h2 class="post-content_title"><%= post.title %></h2>
        <h6 class="post-created_at"><%= post.created_at.strftime('%b %d, %Y') %></h6>
      </div>

      <div class="post-content_charactar">
        <%= sanitize(post.body).truncate(358) %>
      </div>

      <div class="text-center post-content_readmore"">
				<%= link_to(post_path(post), class: "post-content_readmore_link") do %>
					<%= fa_icon 'bars' %>
					"READ MORE"
				<% end %>
      </div>
      <%# <% if user_signed_in? %>
      <%#   <%= link_to "Show", post_path(post), class: "btn btn-primary" %>
      <%#   <%= link_to "Edit", edit_post_path(post), class: "btn btn-default" %>
      <%#   <%= link_to "Delete", post_path(post), class: "btn btn-danger", data: {:confirm => "Are you sure?"}, method: :delete %>
      <%# <% end %>
      <br>
    </div>
    <% end %>

		<%= paginate @posts %>
  </div>
</div>
