<div class="footer col-xs-6 col-xs-offset-3">
	<p class="text-center footer-title">Lets get in touch!</p>
	<p class="col-xs-8 col-xs-offset-2 text-center footer-content">I am always looking for interesting ideas and projects to work on and problems to solve. Please drop me a note and I will get back to you as soon as possible.<p>

	<%= simple_form_for @feedback do |f| %>
		<div class="feedback-col_wrapper">
			<%= f.input :name, class: "feedback-name" %>
			<%= f.input :email, class: "feedback-email" %>
    </div>

		<div class="feedback-des_wrapper">
			<%= f.input :description, label: "Describe what you want to communicate with me!", class: "feedback-des"%>
		</div>

		<%= f.submit 'LET\'S TALK', class: "btn btn-primary" %>
  <% end %>

	<div class="footer-contact">
		<span class="footer-site_name">Harrold's Blog</span>
		<ul class="footer-link_list">
			<li class="footer-link_wrapper"><a href="/">HOME</a></li>
			<li class="footer-link_wrapper"><a href="/blog">BLOG</a></li>
			<li class="footer-link_wrapper"><a href="/about">ABOUT</a></li>
			<li class="footer-link_wrapper"><a href="/contact">CONTACT</a></li>
		</ul>
		
		<ul class="footer-icon_list">
			<li class="footer-icon_wrapper"><a href="https://github.com/zty2developer"><%= fa_icon "github" %></a></li>
			<li class="footer-icon_wrapper"><a><%= fa_icon "weibo" %></a></li>
			<li class="footer-icon_wrapper"><a><%= fa_icon "weixin" %></a></li>
		</ul>
	</div>
		
</div>
